.navbar-custom {
  position: absolute;
  padding-top: 45px;
  left: 0;
  width: 100%;
  z-index: 3;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar-toggle{
    font-size: 30px;
    color: #fff;
    line-height: .9em;
    padding: 5px;
    background: #000;
    border: 1px solid;
    z-index: 1;

}

.navbar-nav > li > a {
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;	
  }

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #ff0000;
}

.container-fluid{
    padding-right: 8%;
  	padding-left: 8%;
  }

.contact-panel{
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    margin-right: 0;
}

.contact-panel .glyphicon{
    font-size: 15px;
    margin-left: 20px;
}

.team_txt{
    text-shadow: 0 0 3px #000, 0 0 5px #000;
    color: #fff;
    font-weight: bold;
}

.intro-header{
    position: relative;
    min-height: 768px;
    background: url("../images/home-bg.jpg") no-repeat scroll 0px 100% / cover transparent;
    padding-top: 170px;
    color: #ffffff;
}

.customer-bg{
    position: relative;
    min-height: 768px;
    background: url("../images/home-bg1.jpg") no-repeat scroll 0px 100% / cover transparent;
    padding-top: 170px;
    color: #ffffff;
}

.team-bg{
    position: relative;
    min-height: 768px;
    background: url("../images/team-bg.jpg") no-repeat scroll 0px 100% / cover transparent;
    padding-top: 170px;
    color: #ffffff;
}

.gallery-bg{
    position: relative;
    min-height: 768px;
    background: url("../images/gallery-bg.jpg") no-repeat scroll 0px 100% / cover transparent;
    padding-top: 170px;
    color: #ffffff;
}

.contactus-bg{
    position: relative;
    min-height: 768px;
    background: url("../images/contactus-bg.jpg") no-repeat scroll 0px 100% / cover transparent;
    padding-top: 170px;
    color: #ffffff;
}

.intro-header small{
    color: #ffffff;    
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 0;
  border-bottom: 0 none;
}

.placeHolder-home{
    width: 100%;
    height: 200px;
}

.fb-font{
    font-size: 18px;
    color: #fff;
}

.navbar-blue {
    background-color: #00aeef;
    border-color:#2690be;
}

.page-panel{
    background: #eaedf4;
    padding-top: 170px;
}

.customer1{
    background: url("../images/customer1.png") no-repeat  center 0 ;
}

.customer2{
    background: url("../images/customer2.png") no-repeat  center 0 ;
}

.customer3{
    background: url("../images/customer3.png") no-repeat  center 0 ;
}

.customer4{
    background: url("../images/customer4.png") no-repeat  center 0 ;
}

.customer{
    padding: 220px 0 20px;    
    color: #fff;
    text-align: center;
}


.customer_inner{
    width: 220px;
    margin: 0 auto;
}
.subHead_pod{
    color: #00aeef;
    font-size: 18px;
}

.writeUp{
    font-size: 12px;   
}

.bottom_cr{
  text-align: center;
  background-color: rgba(0,0,0,.7);
  color: #fff;
  font-size: 11px;
  width: 100%;
  padding: 5px;
    
}

#ajax_waiting{
		position:absolute;
		width:100%;
		z-index:999;
		height:100%;
        color: black;
        font-weight: bold;
}

.thku_callout{
    display: none;
}

.staff{
    background: rgba(0, 0, 0, 0.8);
    border-radius: 7px;
    padding: 5px 10px 15px;
}

.staff_Name{
   color: #ffff99; 
}

.btn-red{
    background: #ff0000;
    font-size: 30px;
}

.credits{
     bottom: 0;
    color: #fff;
    font-size: 10px;
    position: absolute;
    right: 5px;
    text-align: right;
}

@media (max-width: 982px) {
    .navbar-nav > li > a {
        font-size: 14px;
    }
    
}
@media (max-width: 768px) {
    .placeHolder-home{
        height: 100px;
    }    
    
    .navbar-collapse{
        background: rgba(0, 174, 239, .9 );
        position: absolute;
        right: 12%;
        width: 220px;
    }
    
    .navbar-custom {
        padding-top: 20px;
          height: 120px;
    }
    
    .container-fluid{
        padding-right: 4%;
        padding-left: 4%;
    }

}