<div class="team-bg">
    <div class="container-fluid">
       We are motorcycle lovers and we are here to avenge the sins of all those workshops that don't care for your motorcycles properly.<br/>
Finally, a workshop that is not driven by targets.<br/>
<b>SuperMoto360</b> believes in handling and fixing these beauty machines with quality.<br/>
    </div> 
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4" style="text-align:center;">
            <img src="images/yaseen.png" alt="Yaseen">
                <div class="staff">
                <h2 class="staff_Name">Yaseen</h2>
                <span class="team_txt">has 10+ years of experience in Software Engineering, which is totally irrelevant at 'Super Moto 360'. However, his extensive knowledge of building cloud products for the Automotive Industry is what helps SM360 become India's first Tech driven workshop.</span>
                </div>
            </div>
        
            <div class="col-md-4" style="text-align:center;">
                
            <img src="images/krish.png" alt="krish">
                <div class="staff">
                    <h2 class="staff_Name">Krish</h2>
                    <span class="team_txt">is a motorcyclist with experience of touring India &amp; other countries on his bike. Weekdays he is a geek, and weekends he transforms into India's First YouTube Motovlogger. His eye for detail and deep understanding of motorcycle owners' problems helps SM360 deliver top-notch quality service.</span>            
                </div>
            </div>
            
            
            
            <div class="col-md-4" style="text-align:center;">
            <img src="images/syed.png" alt="krish">
                <div class="staff">
 <h2 class="staff_Name">Syed</h2>
                <span class="team_txt">With 12+ years of experience in mechanical intricacies of vast variety of motorcycles, Syed Hameed makes sure that customers motorcycles at SM360 gets the right treatment for the right diagnosis from all our engineers.</span>            
                </div>
                </div>
            </div>
        </div>
        
        
    </div>
</div>
    