<div class="contactus-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 text-center"></div>
            <div class="col-md-4 text-center staff">
                <h1>
        <span class="glyphicon glyphicon-map-marker"></span>
        </h1>
                <strong> 
Plot #48, Prashant Hills, <br/> 
Raidurgam, Dhaba Jn, Khajaguda Road, <br/> 
                Hyderabad - 500008
                <br/><br/>
                
                    +91 80193 17091<br/>+91 80193 17092</strong>
            </div>
            <div class="col-md-4 text-center"></div>

            
         <!--   <div class="col-md-6 text-center">
                <div>&nbsp;</div>
                <div class="form-group">
                    <input type="name" class="form-control" id="name" placeholder="Enter name">                                        
                </div>
                <div class="form-group">
                     <input type="email" class="form-control" id="email" placeholder="Enter email">
                </div>
                <div class="form-group">
                     <input type="number" class="form-control" id="mobile" placeholder="Enter mobile">
                </div>
                <div class="form-group">
                     <textarea class="form-control" rows="5" id="comments" placeholder="Enter comments"></textarea>
                </div>
                 <div class="form-group pull-right">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>        

            </div>-->
            
        </div>
        
        
        <!--<div class="row">
                <div class="col-md-6 text-center">
                    <h1>
                        <span class="glyphicon glyphicon-envelope"></span>
                    </h1>
                     <strong> 
                         customercare@sm360.in,<br/>
                        supermoto360@gmail.com
                    </strong>
                </div>
                
                <div class="col-md-6 text-center">
                </div>
            </div>-->
    </div>
</div>