<div class="customer-bg">
    <div class="row container-fluid">
        <div class="col-lg-3 col-md-4 col-sm-6 customer1 customer">
            <div class="customer_inner">
            <h1>Paresh Dutta</h1>
            <div class="subHead_pod">Delivery Manager, IT</div>
            <div class="writeUp">I am the first customer for Pickup and drop, perfect ontime pickup and delivery with very good servicing compared...</div>
        </div>
            <a href="https://www.facebook.com/supermoto360" target="_blank"> <img src="images/5-star.png" alt="5 Star" border=0><span> Via Facebook</span> </a>
        </div>
        
         <div class="col-lg-3 col-md-4 col-sm-6 customer2  customer">
            <div class="customer_inner">
            <h1>Sayantan</h1>
            <div class="subHead_pod">Software Engineer</div>
            <div class="writeUp">Extremely good n transparent service. Very professional and take care of minute details. Very convenient...</div>
        </div>
            <a href="https://www.facebook.com/supermoto360" target="_blank"> <img src="images/5-star.png" alt="5 Star" border=0><span> Via Facebook</span> </a>
        </div>
        
         <div class="col-lg-3 col-md-4 col-sm-6 customer3 customer">
            <div class="customer_inner">
            <h1>Jyothi Varma</h1>
            <div class="subHead_pod">Software Engineer</div>
            <div class="writeUp">I got my Hero Honda pleasure serviced from you guys. Very very happy with the fast and hassle free delivery...</div>
        </div>
            <a href="https://www.facebook.com/supermoto360" target="_blank"> <img src="images/5-star.png" alt="5 Star" border=0><span> Via Facebook</span> </a>
        </div>
        
        
        <div class="col-lg-3 col-md-4 col-sm-6 customer4 customer">
            <div class="customer_inner">
            <h1>Aditya</h1>
            <div class="subHead_pod">Software Engineer</div>
            <div class="writeUp">Nice place. Pickup service concept is good. My 80,000 kms old pulsar is still running strong and giving...</div>
        </div>
            <a href="https://www.facebook.com/supermoto360" target="_blank"> <img src="images/5-star.png" alt="5 Star" border=0><span> Via Facebook</span> </a>
        </div>
    </div>
    
    
    <div class="row container-fluid">
            <div class="form-group" style="margin:0 auto;width:300px;">
                    <button onclick="window.location.href='#/'" type="submit" class="btn btn-red btn-lg">Book a Bike Service</button>
            </div>
        </div>    
</div>