    <link rel="stylesheet" href="css/blueimp-gallery.css">

<link type="text/css" href="css/bootstrap-image-gallery.css">


<div class="gallery-bg">
    <div class="container-fluid">
        <h1>Customer's Motorcycles</h1>  
    </div> 

<div class="container-fluid">
<div id="links">
    
    
   
    <a href="images/gallery/customer_showcase12.jpg" title="Customer Showcase" data-gallery>
        <img src="images/gallery/thumbs/customer_showcase12.jpg" alt="Customer Showcase">
    </a>
    
    <a href="images/gallery/customer_showcase13.jpg" title="Customer Showcase" data-gallery>
        <img src="images/gallery/thumbs/customer_showcase13.jpg" alt="Customer Showcase">
    </a>
    
    <a href="images/gallery/customer_showcase14.jpg" title="Customer Showcase" data-gallery>
        <img src="images/gallery/thumbs/customer_showcase14.jpg" alt="Customer Showcase">
    </a>
    
    <a href="images/gallery/customer_showcase15.jpg" title="Customer Showcase" data-gallery>
        <img src="images/gallery/thumbs/customer_showcase15.jpg" alt="Customer Showcase">
    </a>
    
    <a href="images/gallery/customer_showcase16.jpg" title="Customer Showcase" data-gallery>
        <img src="images/gallery/thumbs/customer_showcase16.jpg" alt="Customer Showcase">
    </a>
    
    <a href="images/gallery/customer_showcase21.jpg" title="Customer Showcase" data-gallery>
        <img src="images/gallery/thumbs/customer_showcase21.jpg" alt="Customer Showcase">
    </a>
    
    <a href="images/gallery/customer_showcase18.jpg" title="Customer Showcase" data-gallery>
        <img src="images/gallery/thumbs/customer_showcase18.jpg" alt="Customer Showcase">
    </a>
    
    <a href="images/gallery/customer_showcase19.jpg" title="Customer Showcase" data-gallery>
        <img src="images/gallery/thumbs/customer_showcase19.jpg" alt="Customer Showcase">
    </a>
    
    <a href="images/gallery/customer_showcase20.jpg" title="Customer Showcase" data-gallery>
        <img src="images/gallery/thumbs/customer_showcase20.jpg" alt="Customer Showcase">
    </a>
    
 
    <a href="images/gallery/customer_showcase2.jpg" title="Customer Showcase" data-gallery>
        <img src="images/gallery/thumbs/customer_showcase2.jpg" alt="Customer Showcase">
    </a>
    
  
</div>
    </div>
</div>
<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/blueimp-gallery.min.js"></script>
<script lang="javascript" src="js/bootstrap-image-gallery.js"></script>