<script lang="javascript" src="js/bookSlot.js"></script>
<div class="intro-header container-fluid">
        <div class="row">
                  <div class="col-md-4 col-md-push-8">
                      
                      <div id="ajax_waiting" class="hide">
<div id="ajax_waiting_css" class="ajax_waitingcss" align="center" style="padding-top:100px;font-size:14px;"><img src="../img/ajax-loader.gif" /><br />
Processing, please wait.
</div>
</div>
        <div id="form_area">              
            <div class="page-header text-right">
                <h1>Please leave
                your number</h1>
            </div>                      
            <div class="form-group">
                <div class="input-group">
                <div class="input-group-addon">+91</div>
                <input name="mobile" maxlength="10" type="text" class="form-control" id="mobile" placeholder="Enter mobile no." tabindex="1"  />
            </div>
            </div>    
            <div class="form-group">
                <select name="location" id="location" class="form-control">
                    <option value="HitechCity">Hitech City</option>
                    <option value="FinancialDistrict">Financial District</option>
                    <option value="Gachibowli">Gachibowli</option>
					<option value="Manikonda_Alkapur">Manikonda/Alkapur</option>
                    <option value="DLF">DLF</option>
                    <option value="LancoHills">Lanco Hills</option>
                    <option value="WellsFargo">Wells Fargo</option>
                </select>
                 </div>    
            <div class="form-group">
               <input type="submit" value="Submit" onclick="bookSlot();" class="btn btn-primary">
            </div>
            <h3 class="text-right">We will call you &amp; Pickup your Motorcycle for service</h3>
        </div>    
        
        <div class="thku_callout" id="thku_callout">
			<h4>
            Thank You, for getting in touch with us! <br/><br/>
				We will call you shortly and <br/>register further details <br/>for pickup of your beloved Motorcycle.
		</h4>
        </div>
                      
                      
                      <div class="fb-font text-right">Follow us on <a href="https://www.facebook.com/supermoto360" target="_blank"><img src="images/facebook_icon.png" alt="Facebook" border="0" /> </a></div>
                      
            </div>
            
            <div class="col-md-8 col-md-pull-4">
                <div class="placeHolder-home"></div>    
                <div class="page-header">
                    <h1>We Simply Fix 
                        Your Motorcycles<br/>
                    <small><i>Free PickUp &amp; Drop from offices</i>
<br/>                      First Time in India!</small></h1>
                </div>
            </div>
            
            
      
             
        </div>
    <div class="credits">Photography - Sachin Nair</div>
    </div> 
